<!-- <mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Keep</span>
    <span matLine>Add to a note</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Docs</span>
    <span matLine>Embed in a document</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Plus</span>
    <span matLine>Share with your friends</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Google Hangouts</span>
    <span matLine>Show to your coworkers</span>
  </a>
</mat-nav-list> -->
<div
class="bg-white  lg:flex hidden flex-col space-y-6 border rounded-lg p-4">
<div class="sidebar-widget">
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
        </div>
        <input (keyup)="applyFilter($event)" #search
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Tìm Kiếm">
    </div>
</div>
<hr />
<div class="overflow-auto p-2 flex flex-col space-y-4">
    <!-- <div class="flex flex-row justify-between items-center">
        <div class="text-lg font-bold">Bộ Lọc</div>
        <div class="hover:bg-slate-200 bg-slate-50 rounded-full p-2">Xoá</div>
    </div>
    <div class="text-xs">
        <mat-chip-set>
            @for (item of ChosenFilterDM; track $index) {
            <mat-chip (click)="RemoveFilter(item)">
                <div class="flex flex-row items-center space-x-2">
                    <span>{{item.Title}}</span>
                    <span class="material-symbols-outlined">
                        cancel
                    </span>
                </div>
            </mat-chip>
            }
        </mat-chip-set>
    </div> -->
    <div class="flex flex-col">
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg font-bold">Theo danh mục</div>
        </div>
        @for (item of FilterDanhmuc; track $index) {
        <mat-checkbox (change)="onFilterChange()" color="warn"
            [(ngModel)]="FilterDanhmuc[$index].isChecked">{{item.Title}}</mat-checkbox>
        }
    </div>
</div>
<!-- <div class="py-4"><hr/></div>
<div class="flex flex-col space-y-4">
<div class="text-xl">Lọc theo Thương Hiệu</div>
@for (item of LocThuongHieu; track $index) {
    <div class="flex flex-row space-x-2 items-center">
        <span class="material-symbols-outlined">check_box_outline_blank</span>                    
        <div>{{item.Title}}</div>
       </div>
}
</div> -->
</div>