<div class="!flex flex-col flex-auto min-w-0 relative bg-white !h-screen p-4">
    <div class="relative flex flex-col">
        <div class="flex flex-row justify-between items-start">
            <div>Title</div>
            <span> 
            <button mat-button>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#5f6368">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg>
                </button>
            </span>
        </div>
    </div>
    <div class="relative flex flex-col h-full w-full overflow-auto">
        Section2
    </div>
    <div class="relative flex flex-0 items-center">
        Section3
    </div>
</div>