<div class="relative w-screen h-screen overflow-hidden flex flex-col">
  <img src="/bg-room.webp" class="object-cover lg:block hidden absolute top-0 right-0 w-full h-full">
  <img src="/bg-mobile.webp" class="object-cover lg:hidden block absolute top-0 right-0 w-full h-full">
  <div class="lg:w-2/5 absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 p-4">
    <div class="relative w-full lg:p-16 p-8">
        <div class="absolute top-0 right-0 w-full h-full bg-white opacity-70 rounded-lg shadow-lg "></div>
        <div class="relative flex flex-col items-center mx-auto">
            <img src="avatar.webp" alt="chikiet.com" class="h-36 m-4">
            <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-full">
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput class="w-ful" [placeholder]="'Phone Number'"/>
                <button class="mx-2" matPrefix mat-icon-button>
                    <span class="material-symbols-outlined">call</span>
                </button>
            </mat-form-field>
              <mat-form-field subscriptSizing="dynamic" appearance="outline" class="w-full mt-4">
                <mat-label>Password</mat-label>
                <input type="password" matInput class="w-full" [placeholder]="'Password'"/>
                <button class="mx-2" matPrefix mat-icon-button>
                    <span class="material-symbols-outlined">lock</span>
                </button>
            </mat-form-field>
              <div class="w-full flex flex-row justify-between items-center mt-4">
                <mat-checkbox>Remember me</mat-checkbox>
                <a routerLink="/forgot-password" class="text-blue-500">Forgot password?</a>
              </div>
              <button mat-raised-button color="primary" class="w-full mt-4">Login</button>
              <div class="grid grid-cols-3 gap-4 mt-4">
                <button  (click)="loginWithGoogle()" mat-raised-button color="primary" class="w-full mt-4">Google</button>
                <button mat-raised-button color="primary" class="w-full mt-4">Facebook</button>
                <button mat-raised-button color="primary" class="w-full mt-4">Zalo</button>
              </div>
              <div class="flex justify-center mt-4">
                <p>Don't have an account? <a routerLink="/register" class="text-blue-500">Register</a></p>
              </div>
        </div>
    </div>
</div>
</div>
