<section class="grid grid-cols-1 relative py-8">
 <div class="my-4 flex flex-row justify-between items-center">
  <h2 class="!text-2xl font-bold !mb-0">
    {{Title}}
  </h2>
  <a href="danh-muc" class="font-semibold text-green-500">Xem Tất Cả</a>
</div>
  <div class="lg:flex hidden flex-col space-y-3 w-full col-span-4">
    <div>
      <div class="flex flex-col space-y-3 w-full col-span-4">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper pb-16">
            @for (item of ListsSanpham; track $index) {
              <a href="san-pham/{{item.Slug}}" class="swiper-slide flex flex-col justify-center space-y-2">
                <img loading="lazy" src="/assets/images/sanpham/{{item.Image.Main}}" class="w-full" />
                <span class="text-sm">{{item.Danhmuc}}</span>
              </a>
            }
          </div>
          <div class="swiper-pagination !bottom-0"></div>
        </div>
      </div>
      <swiper-container slides-per-view="4" speed="500" loop="false" pagination="false" class="space-x-4">
        @for (items of FilterLists; track $index) {
          <swiper-slide class="grid grid-col-1 gap-4">
            @for (item of items; track $index) {
              <a href="san-pham/{{item.Slug}}" class="z-10 grid grid-cols-1 border rounded-lg p-3 bg-white">   
                 <span class="text-center font-bold line-clamp-1">{{item.Title}}</span>
                 <img loading="lazy" src="/assets/images/sanpham/{{item.Image.Main}}" class="w-full" />
                 <p class="text-gray-400 text-[13px] line-clamp-2" [innerHTML]="item.Mota"></p>
                 <div class="z-20 flex flex-row space-x-2 justify-center items-center">
                  <span class="font-bold text-lg">{{item.Giagoc| number:'1.0-0'}}đ</span>
                  <span (click)="AddtoCart(item);$event.preventDefault()" class="z-10 material-symbols-outlined rounded-full p-4 bg-[#e22026] text-white hover:bg-[#e8686c]">shopping_cart</span>
              </div>
            </a>
            }
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-pagination" slot="pagination"></div>
    </div>
  </div>
  <div class="lg:hidden flex flex-col space-y-3 w-full col-span-4">
    <div>
      <swiper-container slides-per-view="2" speed="500" loop="false" pagination="false" class="space-x-4">
        @for (items of FilterLists; track $index) {
          <swiper-slide class="grid grid-col-1 gap-4">
            @for (item of items; track $index) {
              <a href="san-pham/{{item.Slug}}" class="grid grid-cols-1 border rounded-lg p-3 bg-white">   
                <span class="text-center font-bold line-clamp-1">{{item.Title}}</span>
                 <img loading="lazy" src="/assets/images/sanpham/{{item.Image.Main}}" class="w-full" />
                 <p class="text-gray-400 text-[13px] line-clamp-2" [innerHTML]="item.Mota"></p>
                 <div class="flex flex-row space-x-2 justify-center items-center">
                  <span class="font-bold text-lg">{{item.Giagoc| number:'1.0-0'}}đ</span>
                  <span (click)="AddtoCart(item);$event.preventDefault()" class="material-symbols-outlined rounded-full p-4 bg-slate-50 hover:bg-slate-200">shopping_cart</span>
              </div>
            </a>
            }
          </swiper-slide>
        }
      </swiper-container> 
      <div class="swiper-pagination" slot="pagination"></div>
    </div>
  </div>
</section>