<section class="grid grid-cols-1 relative py-8">
 <div class="my-4 flex flex-row justify-between items-center">
  <h2 class="!text-2xl font-bold !mb-0">
    {{Title}}
  </h2>
</div>
  <div class="lg:flex hidden flex-col space-y-3 w-full col-span-4">
    <div>
      <swiper-container slides-per-view="4" speed="500" loop="false" pagination="false" space-between="20" >
        @for (items of FilterLists; track $index) {
          <swiper-slide class="grid grid-col-1 gap-4">
            @for (item of items; track $index) {
              <a href="san-pham/{{item.Slug}}" class="z-10 grid grid-cols-1 border rounded-lg p-3 bg-white">   
                 <span class="text-center font-bold line-clamp-1">{{item.Title}}</span>

                 @if(item && item.Image&&item.Image.Main)
                 {
                   <img loading="lazy" src="assets/images/sanpham/{{item.Image.Main}}" class="w-20">
                 }
                 @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                   <img loading="lazy" src="{{item.Image.Hinhchinh.src}}" class="w-20">
                 }
                 @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                   <img loading="lazy" src="assets/images/noimage.png" class="p-3 max-w-32 mx-auto rounded-lg">
                 }

                 <!-- <img loading="lazy" src="/assets/images/sanpham/{{item.Image.Main}}" class="w-full" /> -->




                 <p class="text-gray-400 text-[13px] line-clamp-2" [innerHTML]="item.Mota"></p>
              <div (click)="AddtoCart(item);$event.preventDefault()" class="z-20 flex flex-row space-x-2 justify-center items-center">
                  <span class="font-semibold text-md">{{item?.Giagoc[0]?.gia| number:'1.0-0'}}đ / {{item?.Giagoc[0]?.khoiluong}}{{item?.Giagoc[0]?.dvt}}</span>
                  <span  class="z-10 material-symbols-outlined rounded-full p-4 bg-[#e22026] text-white hover:bg-[#e8686c]">shopping_cart</span>
              </div>
            </a>
            }
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-pagination" slot="pagination"></div>
    </div>
  </div>
  <div class="lg:hidden flex flex-col space-y-3 w-full col-span-4">
    <div>
      <swiper-container slides-per-view="2" speed="500" loop="false" space-between="20" pagination="false">
        @for (items of FilterLists; track $index) {
          <swiper-slide class="grid grid-col-1 gap-4">
            @for (item of items; track $index) {
              <a href="san-pham/{{item.Slug}}" class="grid grid-cols-1 border rounded-lg p-3 bg-white">   
                <span class="text-center font-bold line-clamp-1">{{item.Title}}</span>
                @if(item && item.Image&&item.Image.Main)
                {
                  <img loading="lazy" src="assets/images/sanpham/{{item.Image.Main}}" class="w-20">
                }
                @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                  <img loading="lazy" src="{{item.Image.Hinhchinh.src}}" class="w-20">
                }
                @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                  <img loading="lazy" src="assets/images/noimage.png" class="p-3 max-w-32 mx-auto rounded-lg">
                }

<!-- 
                 <img loading="lazy" src="/assets/images/sanpham/{{item.Image.Main}}" class="w-full" /> -->


                 <p class="text-gray-400 text-[13px] line-clamp-2" [innerHTML]="item.Mota"></p>
                 <div class="flex flex-row space-x-2 justify-center items-center">
                  <span class="font-semibold text-md">{{item?.Giagoc[0]?.gia| number:'1.0-0'}}đ / {{item?.Giagoc[0]?.khoiluong}}{{item?.Giagoc[0]?.dvt}}</span>
                  <span (click)="AddtoCart(item);$event.preventDefault()" class="material-symbols-outlined rounded-full p-4 bg-[#e22026] text-white hover:bg-[#e8686c]">shopping_cart</span>
              </div>
            </a>
            }
          </swiper-slide>
        }
      </swiper-container> 
      <div class="swiper-pagination" slot="pagination"></div>
    </div>
  </div>
  <div class="flex text-center py-3 justify-center">  
    <button mat-stroked-button>
      <a href="danh-muc/cac-loai-nam" class="font-semibold text-green-500">Xem Tất Cả ></a>
    </button>

  </div>
</section>