<div class="bg-[#57A345]">
    <div class="container flex flex-row space-x-2 justify-between lg:h-16 items-center py-4">
        <a href="/" class="bg-white rounded-full !border-0 px-4 py-1">
            <!-- <img loading="lazy" src="/assets/images/logo.webp" class="lg:h-12 h-10"> -->
            <img loading="lazy" src="/assets/images/logo-full.png" class="lg:h-10 h-8">

        </a>
        <div class="hidden lg:flex flex-row space-x-3 text-white">
            @for(item of Menus; track item.id) {
            @if (item.children!=null&&item.children.length>0) {
            <a [href]="[item.Slug]"
                class="flex flex-row items-center header-link py-2 font-semibold uppercase transition-all"
                cdkOverlayOrigin #trigger="cdkOverlayOrigin" (mouseover)="Menus[$index].Show=true">
                {{item.Title}}
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </a>

            <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                [cdkConnectedOverlayOpen]="Menus[$index].Show">
                @if (item.id==2) {
                <div class="border rounded-lg grid grid-cols-4 gap-4 bg-white p-4"
                    (mouseleave)="Menus[$index].Show=false">
                    @for (item of item.children; track $index) {
                    <div class="flex flex-row space-x-2 items-center">
                        @if(item && item.Image&&item.Image.Thumb)
                        {
                        <img loading="lazy" src="assets/images/sanpham/{{item.Image.Thumb}}" class="h-10">
                        }
                        @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                        <img loading="lazy" src="{{item.Image.Hinhchinh.src}}" class="h-10">
                        }
                        @else {
                        <img loading="lazy" src="assets/images/noimage.png" class="p-3 max-h-10 rounded-lg">
                        }
                        <!-- <img loading="lazy" src="/assets/images/sanpham/rau-lang26385834.PNG" class="h-10"> -->
                        <a href="danh-muc/{{item.Slug}}">{{item.Title}}</a>
                    </div>
                    }
                </div>
                }
                @else {
                <div class="border rounded-lg grid grid-cols-1 gap-4 bg-white p-4"
                    (mouseleave)="Menus[$index].Show=false">
                    @for (item of item.children; track $index) {
                    <a href="{{item.Slug}}" class="">{{item.Title}}</a>
                    }
                </div>
                }
            </ng-template>
            <!-- <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-screen">
            <div class="w-screen grid grid-cols-4" (mouseleave)="menuTrigger.closeMenu()">
                <a [routerLink]="[item1.Slug]" routerLinkActive="!bg-black !text-white" mat-menu-item
                    *ngFor="let item1 of item.children">{{item1.Title}}
                </a>
            </div>
        </mat-menu> -->
            }
            @else {
            <a class="flex flex-row items-center header-link py-2 font-semibold uppercase transition-all"
                [href]="[item.Slug]">
                <span class="text-sm border-l px-2">
                    {{item.Title}}
                </span>
            </a> }
            }
        </div>

        <div class="flex flex-row space-x-1 items-center">
            <div class="relative" (click)="TimkiemDialog(dialogTimkiem)">

                <input
                    class="hidden lg:block w-48 py-2 px-4 pe-10 text-sm 
            text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Tìm Kiếm" />
                <div class="lg:absolute inset-y-0 end-0 flex items-center lg:pe-3 cursor-pointer">
                    <button mat-icon-button>
                        <span class="material-symbols-outlined lg:text-gray-400 text-white">
                            search
                        </span>
                    </button>
                </div>

            </div>
            <!-- <span (click)="TimkiemDialog(dialogTimkiem)"
            class="material-symbols-outlined text-red-500 p-2 cursor-pointer rounded-full border hover:bg-red-500 hover:text-white">
            search
        </span> -->
            <!-- <a href="san-pham-yeu-thich" matBadgeColor="warn" mat-icon-button matBadge="0">
            <span class="material-symbols-outlined">
                favorite
            </span></a> -->
            <div class="relative">
                <a href="gio-hang" mat-icon-button matBadgeColor="warn">
                    <span class="material-symbols-outlined text-white">shopping_cart</span>
                </a>
                <span class="absolute font-bold -top-1 right-0 bg-white text-red-500 text-xs px-2 py-1 rounded-full">
                    {{(Soluong| number:'1.0-0')||0}}
                </span>
            </div>
            <a href="gio-hang" class="text-white">
                {{(Tongcong | number:'1.0-0')||'0'}}đ
            </a>
            <!-- <button class="flex transition-transform hover:scale-125 align-middle" (click)="toggleTheme()">
            <span *ngIf="!darkmode" class="material-icons">dark_mode</span>
            <span *ngIf="darkmode" class="material-icons">light_mode</span>
        </button> -->
        </div>
        @if(this.Token){
        <img loading="lazy"[src]="User?.Image?.Main||'/assets/images/noimage.png'" class="rounded-full w-10 h-10 border"
            [matMenuTriggerFor]="user">
        }
        @else {

        <div class="hidden lg:flex flex-row space-x-2 items-center text-white">
            <a href="dangnhap" class="border-r px-2">
                Đăng Nhập
            </a>
            <a href="dangky">
                Đăng Ký
            </a>
        </div>
        <div class="lg:hidden">
            <a href="dangnhap" mat-icon-button>
                <span class="material-symbols-outlined text-white">
                    person
                </span>
            </a>
        </div>
        }
        <div class="lg:hidden">
            <button mat-icon-button (click)="sidebarVisible = true">
                <span class="material-symbols-outlined text-white">
                    menu
                </span>
            </button>
        </div>
        <mat-menu #user="matMenu" xPosition="before">
            <button mat-menu-item>
                <a routerLink="/profile" routerLinkActive="bg-gray-200" class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <span>Tài Khoản</span>
                </a>
            </button>
            <button mat-menu-item>
                <a routerLink="/admin" routerLinkActive="bg-gray-200" class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span>Admin</span>
                </a>
            </button>
            <a (click)="Dangxuat()" mat-menu-item>
                <div class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Đăng Xuất</span>
                </div>
            </a>
        </mat-menu>
    </div>
    <p-sidebar [(visible)]="sidebarVisible" class="z-10" position="right" class="w-1/2">
        <ng-template pTemplate="header">
            <a href="/">
                <img loading="lazy" src="/assets/images/logo.webp" class="lg:h-20 h-10">
            </a>
        </ng-template>
        <ng-template pTemplate="content">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <a href="{{node.Slug}}">{{node.Title}}</a>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
                        <span
                            class="material-symbols-outlined">{{treeControl.isExpanded(node)?'expand_more':'navigate_next'}}</span>
                    </button>
                    <a href="{{node.Slug}}">{{node.Title}}</a>
                </mat-tree-node>
            </mat-tree>

        </ng-template>
        <ng-template pTemplate="footer">
            <div class="text-pgray-400 text-sm text-center">
                <p>© Copyright {{Today|date:'yyyy'}}</p>
            </div>
        </ng-template>
    </p-sidebar>
    <ng-template #dialogTimkiem>
        <div class="lg:max-h-[90vh] lg:w-[50vw] max-h-[90vh] w-[90vw] flex flex-col justify-between space-y-2 lg:p-8 p-3 divide-y">
            <div class="relative flex flex-col">
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput (input)="DoSearch($event)" placeholder="Tìm Kiếm">
                    <span matPrefix class="p-2 material-symbols-outlined">search</span>
                </mat-form-field>
            </div>
            <div class="relative flex flex-col space-y-2 h-full w-full overflow-auto p-3">
                @if(Timkiems.length>0){
                <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-8 gap-4 justify-between">
                    @for (item of Timkiems; track $index) {

                        <app-sanphamblock [Detail]="item"></app-sanphamblock>

                    <!-- <div class="flex flex-col space-y-2">
                        <a href="san-pham/{{item.Slug}}" class="z-10 grid grid-cols-1 border rounded-lg p-3 bg-white">
                            @if(item && item.Image&&item.Image.Main)
                            {
                            <img loading="lazy" src="assets/images/sanpham/{{item.Image.Main}}" class="w-full">
                            }
                            @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                            <img loading="lazy" src="{{item.Image.Hinhchinh.src}}" class="w-full">
                            }
                            @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                            <img loading="lazy" src="assets/images/noimage.png" class="p-3 w-full mx-auto rounded-lg">
                            }
                            <div (click)="AddtoCart(item);$event.preventDefault()"
                                class="z-20 flex flex-row space-x-2 justify-end items-end">
                                <span
                                    class="z-10 material-symbols-outlined rounded-lg p-2 bg-[#57A345] text-white hover:bg-[#afe8a2]">shopping_cart</span>
                            </div>
                        </a>
                        <div class="flex flex-col justify-center">
                            <span class="text-base text-center font-bold line-clamp-1">{{item.Title}}</span>
                            <p class="text-gray-400 text-[13px] line-clamp-2" [innerHTML]="item.Mota"></p>
                            <div class="flex flex-row justify-center">
                                <div class="relative p-4">
                                    <img loading="lazy" src="assets/images/pricetag.svg" class="h-8">
                                    <div
                                        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-row">
                                        <span class="text-white font-bold"> {{item?.Giagoc[0]?.gia|
                                            number:'1.0-0'}}đ/{{item?.Giagoc[0]?.khoiluong}}{{item?.Giagoc[0]?.dvt}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    }

                </div>
                }
                @else{

                <span class="text-center font-bold">Không tìm thấy kết quả</span>
                }
            </div>
            <div mat-dialog-actions class="relative flex flex-0 items-center">
                <button class="ml-auto" mat-flat-button color="primary" mat-dialog-close="false">Đóng</button>
            </div>
        </div>

        <!-- <div class="lg:w-[40vw] lg:h-[40vh] h-[95vh] flex flex-col justify-between space-y-3 divide-x-2">
        <div mat-dialog-content>
            <div class="flex flex-col w-full space-y-4 p-2">
                <mat-form-field appearance="outline" class="w-full !text-xs">
                    <input matInput (input)="DoSearch($event)"  placeholder="Tìm Kiếm">
                    <span matPrefix class="p-2 material-symbols-outlined">search</span>
                </mat-form-field>
                <div class="">
                    @for (item of Timkiems; track $index) {
                        <div class="p-2 rounded-lg bg-slate-50">
                            <span>{{item.Title}}</span>
                        </div> 
                    }
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="flex items-end">
            <button class="ml-auto" mat-flat-button color="primary"  mat-dialog-close="false">Đóng</button>
        </div>
    </div> -->
    </ng-template>
</div>
<div class="group">
    <a href="#">Menu Item 1</a>
    <a href="#">Menu Item 2</a>
    <div class="hidden group-hover:block"> <a href="#">Submenu Item 1</a>
      <a href="#">Submenu Item 2</a>
    </div>
  </div>
  